################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/JsonTranformApi/obj
/JsonTransformLibrary/obj
/JsonTransformTest/bin
/JsonTransformTest/obj
